html, body, div, span, h1, h2, h3, h4, h5, h6, p, pre,
a, img, var, ul, li,{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
	background-color: rgb(250,250,250);
}
body{
	margin-top: 20px;
  display: grid;
	width: 100%;
  grid-template-columns: 1fr 160px 160px 160px 1fr;
	grid-gap: 6px;
  grid-template-rows: 1fr 284px 284px 284px 1fr;
}
.a{
	width: 160px;
  height: 284px;
	background-image: url("img/01.gif");
	background-size: cover;
	grid-column-start: 2;
	grid-row-start: 2;
}
.b{
	width: 160px;
  height: 284px;
	background-image: url("img/02.gif");
	background-size: cover;
	grid-column-start: 3;
	grid-row-start: 2;
}
.c{
	width: 160px;
  height: 284px;
	background-image: url("img/03.gif");
	background-size: cover;
	grid-column-start: 4;
	grid-row-start: 2;
}
.d{
	width: 160px;
  height: 284px;
	background-image: url("img/09.gif");
	background-size: cover;
	grid-column-start: 2;
	grid-row-start: 3;
}
.e{
	width: 160px;
  height: 284px;
	background-image: url("img/15.gif");
	background-size: cover;
	grid-column-start: 3;
	grid-row-start: 3;
}
.f{
	width: 160px;
  height: 284px;
	background-image: url("img/16.gif");
	background-size: cover;
	grid-column-start: 4;
	grid-row-start: 3;
}
.g{
	width: 160px;
  height: 284px;
	background-image: url("img/20.gif");
	background-size: cover;
	grid-column-start: 2;
	grid-row-start: 4;
}
.h{
	width: 160px;
  height: 284px;
	background-image: url("img/22.gif");
	background-size: cover;
	grid-column-start: 3;
	grid-row-start: 4;
}
.i{
	width: 160px;
  height: 284px;
	background-image: url("img/24.gif");
	background-size: cover;
	grid-column-start: 4;
	grid-row-start: 4;
}
img{
	width: 160px;
	height: 284px;
}
p{
  font-family: 'Martel Sans', sans-serif;
	font-size: 19px;
	text-align: center;
	color: rgb(250,250,250);
	position: relative;
	top: 95px;
	cursor: crosshair;
}
a{
  font-family: 'Martel Sans', sans-serif;
	font-size: 24px;
	line-height: 30.5px;
	text-align: center;
	color: rgba(250, 250, 250, 0.0);
	z-index: 10;
	cursor: crosshair;
}
.one{
	display: none;
}
.two{
	display: none;
}
.three{
	display: none;
}
.four{
	display: none;
}
.five{
	display: none;
}
.six{
	display: none;
}
.seven{
	display: none;
}
.eight{
	display: none;
}
.nine{
	display: none;
}
.buttonone{
	width: 160px;
	height: 284px;
	grid-column-start: 2;
	grid-row-start: 2;
}
.buttontwo{
	width: 160px;
	height: 284px;
	grid-column-start: 3;
	grid-row-start: 2;
}
.buttonthree{
	width: 160px;
	height: 284px;
	grid-column-start: 4;
	grid-row-start: 2;
}
.buttonfour{
	width: 160px;
	height: 284px;
	grid-column-start: 2;
	grid-row-start: 3;
}
.buttonfive{
	width: 160px;
	height: 284px;
	grid-column-start: 3;
	grid-row-start: 3;
}
.buttonsix{
	width: 160px;
	height: 284px;
	grid-column-start: 4;
	grid-row-start: 3;
}
.buttonseven{
	width: 160px;
	height: 284px;
	grid-column-start: 2;
	grid-row-start: 4;
}
.buttoneight{
	width: 160px;
	height: 284px;
	grid-column-start: 3;
	grid-row-start: 4;
}
.buttonnine{
	width: 160px;
	height: 284px;
	grid-column-start: 4;
	grid-row-start: 4;
}
.highlight{
  cursor: crosshair;
}
@media only screen and (max-width: 812px) {
	body{
		margin-top: 60px;
	  display: grid;
		width: 100%;
	  grid-template-columns: 1fr 80px 80px 80px 1fr;
		grid-gap: 3px;
	  grid-template-rows: 1fr 142px 142px 142px 1fr;
	}
	.a{
		width: 80px;
	  height: 142px;
		background-image: url("img/01.gif");
		background-size: cover;
		grid-column-start: 2;
		grid-row-start: 2;
	}
	.b{
		width: 80px;
	  height: 142px;
		background-image: url("img/02.gif");
		background-size: cover;
		grid-column-start: 3;
		grid-row-start: 2;
	}
	.c{
		width: 80px;
	  height: 142px;
		background-image: url("img/03.gif");
		background-size: cover;
		grid-column-start: 4;
		grid-row-start: 2;
	}
	.d{
		width: 80px;
	  height: 142px;
		background-image: url("img/09.gif");
		background-size: cover;
		grid-column-start: 2;
		grid-row-start: 3;
	}
	.e{
		width: 80px;
	  height: 142px;
		background-image: url("img/15.gif");
		background-size: cover;
		grid-column-start: 3;
		grid-row-start: 3;
	}
	.f{
		width: 80px;
	  height: 142px;
		background-image: url("img/16.gif");
		background-size: cover;
		grid-column-start: 4;
		grid-row-start: 3;
	}
	.g{
		width: 80px;
	  height: 142px;
		background-image: url("img/20.gif");
		background-size: cover;
		grid-column-start: 2;
		grid-row-start: 4;
	}
	.h{
		width: 80px;
	  height: 142px;
		background-image: url("img/22.gif");
		background-size: cover;
		grid-column-start: 3;
		grid-row-start: 4;
	}
	.i{
		width: 80px;
	  height: 142px;
		background-image: url("img/24.gif");
		background-size: cover;
		grid-column-start: 4;
		grid-row-start: 4;
	}
	p{
	  font-family: 'Martel Sans', sans-serif;
		font-size: 9px;
		text-align: center;
		color: rgb(250,250,250);
		position: relative;
		right: 40px;
		top: 47px;
		cursor: crosshair;
	}
}
