body {
  display: grid;
  grid-template-columns: 1000px 1000px 1000px 1000px 1000px 1000px 1000px 1000px 1000px;
  grid-template-rows: 1000px 1000px 1000px 1000px 1000px 1000px 1000px 1000px 1000px;
  padding: 0px;
  margin: 100px;
}

.one{
  grid-column-start: 1;
  grid-row-start: 1;
  position: relative;
  transform: rotate(-90deg);
  top: -500px;
}
.two{
  grid-column-start: 1;
  grid-row-start: 1;
  position: relative;
  top: 500px;
  left: 2px;
}
.three{
  grid-column-start: 1;
  grid-row-start: 2;
  position: relative;
  top: 200px;
  left: 1px;
}
.four{
  grid-column-start: 1;
  grid-row-start: 2;
  position: relative;
  transform: rotate(180deg);
  top: 599px;
  left: -506px;
}
.five{
  grid-column-start: 1;
  grid-row-start: 3;
  position: relative;
  transform: rotate(90deg);
  top: 100px;
  left: 193px;
}
.six{
  grid-column-start: 2;
  grid-row-start: 3;
  position: relative;
  transform: rotate(90deg);
  top: 100px;
  left: -110px;
}
.seven{
  grid-column-start: 1;
  grid-row-start: 1;
  position: relative;
  transform: rotate(-90deg);
  top: -492px;
  left: 699px;
}
.eight{
  grid-column-start: 2;
  grid-row-start: 3;
  position: relative;
  transform: rotate(90deg);
  top: 110px;
  left: 585px;
}
.nine{
  grid-column-start: 3;
  grid-row-start: 3;
  position: relative;
  top: -590px;
  left: 92px;
}
.ten{
  grid-column-start: 2;
  grid-row-start: 1;
  position: relative;
  transform: rotate(-90deg);
  top: -492px;
  left: 399px;
}
.eleven{
  grid-column-start: 2;
  grid-row-start: 2;
  position: relative;
  transform: rotate(-90deg);
  top: -97px;
  left: 398px;
}
.twelve{
  grid-column-start: 2;
  grid-row-start: 2;
  position: relative;
  transform: rotate(180deg);
  top: 400px;
  left: -100px;
}
.thirteen{
  grid-column-start: 2;
  grid-row-start: 2;
  position: relative;
  transform: rotate(180deg);
  top: 1000px;
  left: -99px;
}
.fourteen{
  grid-column-start: 3;
  grid-row-start: 1;
  position: relative;
  top: 7px;
}
.fifteen{
  grid-column-start: 3;
  grid-row-start: 2;
  position: relative;
  transform: rotate(90deg);
  top: -300px;
  left: -506px;
}
.sixteen{
  grid-column-start: 2;
  grid-row-start: 2;
  position: relative;
  transform: rotate(90deg);
  top: -307px;
  left: -200px;
}
.seventeen{
  grid-column-start: 1;
  grid-row-start: 1;
  position: relative;
  transform: rotate(-90deg);
  top: 185px;
  left: 650px;
}
.eighteen{
  grid-column-start: 2;
  grid-row-start: 3;
  position: relative;
  transform: rotate(180deg);
  top: 695px;
  left: -105px;
}

.nineteen{
  grid-column-start: 3;
  grid-row-start: 4;
  position: relative;
  transform: rotate(-90deg);
  top: -307px;
  left: -150px;
}
.twenty{
  grid-column-start: 3;
  grid-row-start: 4;
  position: relative;
  transform: rotate(-90deg);
  top: -306px;
  left: 547px;
}
.twentyone{
  grid-column-start: 4;
  grid-row-start: 4;
  position: relative;
  transform: rotate(-90deg);
  top: -307px;
  left: 240px;
}
.twentytwo{
  grid-column-start: 5;
  grid-row-start: 4;
  position: relative;
  transform: rotate(-90deg);
  top: -306px;
  left: -95px;
}
.twentythree{
  grid-column-start:5;
  grid-row-start: 4;
  position: relative;
  transform: rotate(-90deg);
  top: -307px;
  left: 550px;
}
.twentyfour{
  grid-column-start:6;
  grid-row-start: 4;
  position: relative;
  transform: rotate(-90deg);
  top: -307px;
  left: 245px;
}
.twentyfive{
  grid-column-start:7;
  grid-row-start: 4;
  position: relative;
  transform: rotate(90deg);
  top: 195px;
  left: -362px;
}
.twentysix{
  grid-column-start:1;
  grid-row-start: 2;
  position: relative;
  transform: rotate(180deg);
  top: -150px;
  left: 150px;
}
.twentyseven{
  grid-column-start:1;
  grid-row-start: 3;
  position: relative;
  transform: rotate(180deg);
  top: -455px;
  left: 150px;
  z-index: -1
}
.twentyeight{
  grid-column-start:1;
  grid-row-start: 3;
  position: relative;
  transform: rotate(180deg);
  top: 0px;
  left: 150px;
  z-index: -1
}
.twentynine{
  grid-column-start:1;
  grid-row-start: 4;
  position: relative;
  transform: rotate(180deg);
  top: -310px;
  left: 150px;
}
.thirty{
  grid-column-start:1;
  grid-row-start: 4;
  position: relative;
  transform: rotate(180deg);
  top: 380px;
  left: 150px;
}
.thirtyone{
  grid-column-start:1;
  grid-row-start: 5;
  position: relative;
  transform: rotate(180deg);
  top: -20px;
  left: 151px;
}
.thirtytwo{
  grid-column-start:2;
  grid-row-start: 6;
  position: relative;
  top: -40px;
  left: -349px;
}
.thirtythree{
  grid-column-start:2;
  grid-row-start: 6;
  position: relative;
  top: 655px;
  left: -356px;
}
.thirtyfour{
  grid-column-start:1;
  grid-row-start: 7;
  position: relative;
  transform: rotate(180deg);
  top: 10px;
  left: 145px;
}
.thirtyfive{
  grid-column-start:1;
  grid-row-start: 7;
  position: relative;
  transform: rotate(180deg);
  top: 700px;
  left: 139px;
}
.thirtysix{
  grid-column-start:2;
  grid-row-start: 8;
  position: relative;
  transform: rotate(90deg);
  top: 206px;
  left: -200px;
}
.thirtyseven{
  grid-column-start:2;
  grid-row-start: 8;
  position: relative;
  top: -400px;
  left: 300px;
}
.thirtyeight{
  grid-column-start:2;
  grid-row-start: 7;
  position: relative;
  transform: rotate(-90deg);
  top: -250px;
  left: 298px;
}
.thirtynine{
  grid-column-start:3;
  grid-row-start: 7;
  position: relative;
  transform: rotate(-90deg);
  top: -242px;
  left: -30px;
}
.fourty{
  grid-column-start:3;
  grid-row-start: 7;
  position: relative;
  transform: rotate(90deg);
  top: 257px;
  left: 325px;
}
.fourtyone{
  grid-column-start:4;
  grid-row-start: 7;
  position: relative;
  top: 257px;
  left: 320px;
}
.fourtytwo{
  grid-column-start:8;
  grid-row-start: 4;
  position: relative;
  transform: rotate(90deg);
  top: 202px;
  left: -690px;
}
.fourtythree{
  grid-column-start:8;
  grid-row-start: 4;
  position: relative;
  top: -350px;
  left: -191px;
}
.fourtyfour{
  grid-column-start:8;
  grid-row-start: 3;
  position: relative;
  top: 5px;
  left: -191px;
}
.fourtyfive{
  grid-column-start:8;
  grid-row-start: 2;
  position: relative;
  top: 314px;
  left: -185px;
}
.fourtysix{
  grid-column-start:8;
  grid-row-start: 2;
  position: relative;
  transform: rotate(-90deg);
  top: -185px;
  left: -845px;
}
.fourtyseven{
  grid-column-start:5;
  grid-row-start: 8;
  position: relative;
  top: -50px;
  left: -685px;
}
.fourtyeight{
  grid-column-start:5;
  grid-row-start: 9;
  position: relative;
  top: -350px;
  left: -682px;
}
.fourtynine{
  grid-column-start:4;
  grid-row-start: 9;
  position: relative;
  transform: rotate(90deg);
  top: 210px;
  left: -180px;
}
.fifty{
  grid-column-start:4;
  grid-row-start: 9;
  position: relative;
  transform: rotate(-90deg);
  top: -298px;
  left: -575px;
}
.fiftyone{
  grid-column-start:3;
  grid-row-start: 9;
  position: relative;
  transform: rotate(180deg);
  top: -299px;
  left: -530px;
}
.fiftytwo{
  grid-column-start:3;
  grid-row-start: 8;
  position: relative;
  transform: rotate(180deg);
  top: 30px;
  left: -523px;
}
.fiftythree{
  grid-column-start:3;
  grid-row-start: 8;
  position: relative;
  transform: rotate(180deg);
  top: -600px;
  left: -523px;
  z-index: -1;
}
.fiftyfour{
  grid-column-start:3;
  grid-row-start: 7;
  position: relative;
  transform: rotate(180deg);
  top: -270px;
  left: -523px;
  z-index: -1;
}
.fiftyfive{
  grid-column-start:3;
  grid-row-start: 6;
  position: relative;
  top: 350px;
  left: -18px;
}
.fiftysix{
  grid-column-start:2;
  grid-row-start: 6;
  position: relative;
  transform: rotate(-90deg);
  top: -149px;
  left: 325px;
}
.fiftyseven{
  grid-column-start:2;
  grid-row-start: 6;
  position: relative;
  transform: rotate(-90deg);
  top: -149px;
  left: -280px;
  z-index: -1;
}
.fiftyeight{
  grid-column-start:1;
  grid-row-start: 6;
  position: relative;
  transform: rotate(-90deg);
  top: -149px;
  left: 50px;
  z-index: -1;
}
.fiftynine{
  grid-column-start:1;
  grid-row-start: 6;
  position: relative;
  transform: rotate(180deg);
  top: -147px;
  left: -495px;
}
.sixty{
  grid-column-start:1;
  grid-row-start: 6;
  position: relative;
  transform: rotate(-90deg);
  top: -820px;
  left: 11px;
}
.sixtyone{
  grid-column-start:1;
  grid-row-start: 6;
  position: relative;
  transform: rotate(-90deg);
  top: -812px;
  left: 695px;
}
.sixtytwo{
  grid-column-start:2;
  grid-row-start: 6;
  position: relative;
  transform: rotate(-90deg);
  top: -812px;
  left: 390px;
}
.sixtythree{
  grid-column-start:3;
  grid-row-start: 6;
  position: relative;
  transform: rotate(-90deg);
  top: -815px;
  left: 85px;
}
.sixtyfour{
  grid-column-start:3;
  grid-row-start: 6;
  position: relative;
  transform: rotate(-90deg);
  top: -808px;
  left: 780px;
}
.sixtyfive{
  grid-column-start:4;
  grid-row-start: 6;
  position: relative;
  transform: rotate(90deg);
  top: -300px;
  left: 140px;
}
.sixtysix{
  grid-column-start:7;
  grid-row-start: 2;
  position: relative;
  transform: rotate(-90deg);
  top: -189px;
  left: -500px;
}
.sixtyseven{
  grid-column-start:6;
  grid-row-start: 2;
  position: relative;
  transform: rotate(180deg);
  top: 480px;
  left: 0px;
}
.sixtyeight{
  grid-column-start:6;
  grid-row-start: 3;
  position: relative;
  top: 475px;
  left: 500px;
}
.sixtynine{
  grid-column-start:6;
  grid-row-start: 4;
  position: relative;
  top: 0px;
  left: 500px;
  z-index: -1;
}
.seventy{
  grid-column-start:6;
  grid-row-start: 5;
  position: relative;
  top: -400px;
  left: 500px;
  z-index: -1;
}
.seventyone{
  grid-column-start:6;
  grid-row-start: 5;
  position: relative;
  top: 50px;
  left: 500px;
  z-index: -1;
}
.seventytwo{
  grid-column-start:6;
  grid-row-start: 5;
  position: relative;
  top: 650px;
  left: 500px;
}
.seventythree{
  grid-column-start:6;
  grid-row-start: 6;
  position: relative;
  top: 275px;
  left: 500px;
}
.seventyfour{
  grid-column-start:6;
  grid-row-start: 7;
  position: relative;
  top: -55px;
  left: 500px;
}
.seventyfive{
  grid-column-start:6;
  grid-row-start: 7;
  position: relative;
  top: 640px;
  left: 500px;
}
.seventysix{
  grid-column-start:6;
  grid-row-start: 8;
  position: relative;
  top: 300px;
  left: 500px;
}
.seventyseven{
  grid-column-start:6;
  grid-row-start: 8;
  position: relative;
  transform: rotate(180deg);
  top: 600px;
  left: -5px;
}
.seventyeight{
  grid-column-start:7;
  grid-row-start: 8;
  position: relative;
  transform: rotate(-90deg);
  top: 598px;
  left: -15px;
}
.seventynine{
  grid-column-start:7;
  grid-row-start: 9;
  position: relative;
  transform: rotate(90deg);
  top: 105px;
  left: 370px;
}
.eighty{
  grid-column-start:8;
  grid-row-start: 8;
  position: relative;
  top: 410px;
  left: -125px;
}
.eightyone{
  grid-column-start:7;
  grid-row-start: 8;
  position: relative;
  transform: rotate(90deg);
  top: 418px;
  left: -115px;
}
.eightytwo{
  grid-column-start:6;
  grid-row-start: 8;
  position: relative;
  transform: rotate(90deg);
  top: 410px;
  left: 200px;
  z-index: -1;
}
.eightythree{
  grid-column-start:5;
  grid-row-start: 8;
  position: relative;
  transform: rotate(90deg);
  top: 410px;
  left: 600px;
  z-index: -1;
}
.eightyfour{
  grid-column-start:5;
  grid-row-start: 8;
  position: relative;
  transform: rotate(180deg);
  top: -90px;
  left: 0px;
}
.eightyfive{
  grid-column-start:5;
  grid-row-start: 7;
  position: relative;
  transform: rotate(180deg);
  top: 250px;
  left: 6px;
}
.eightysix{
  grid-column-start:5;
  grid-row-start: 7;
  position: relative;
  transform: rotate(180deg);
  top: -348px;
  left: 6px;
}
.eightyseven{
  grid-column-start:5;
  grid-row-start: 6;
  position: relative;
  transform: rotate(180deg);
  top: 40px;
  left: 5px;
}
.eightyeight{
  grid-column-start:5;
  grid-row-start: 6;
  position: relative;
  transform: rotate(180deg);
  top: -595px;
  left: 5px;
}
.eightynine{
  grid-column-start:5;
  grid-row-start: 5;
  position: relative;
  top: 30px;
  left: 505px;
}
.ninety{
  grid-column-start:5;
  grid-row-start: 4;
  position: relative;
  top: 340px;
  left: 500px;
}
.ninetyone{
  grid-column-start:5;
  grid-row-start: 4;
  position: relative;
  transform: rotate(180deg);
  top: -645px;
  left: 0px;
}
.ninetytwo{
  grid-column-start:5;
  grid-row-start: 3;
  position: relative;
  transform: rotate(180deg);
  top: -270px;
  left: 0px;
}
.ninetythree{
  grid-column-start:5;
  grid-row-start: 2;
  position: relative;
  transform: rotate(180deg);
  top: 60px;
  left: 0px;
}
.ninetyfour{
  grid-column-start:5;
  grid-row-start: 2;
  position: relative;
  top: -310px;
  left: 501px;
}
.ninetyfive{
  grid-column-start:5;
  grid-row-start: 1;
  position: relative;
  top: 50px;
  left: 507px;
}
.ninetysix{
  grid-column-start:5;
  grid-row-start: 1;
  position: relative;
  transform: rotate(-90deg);
  top: -450px;
  left: -75px;
}
.ninetyseven{
  grid-column-start:4;
  grid-row-start: 5;
  position: relative;
  top: 10px;
  left: 638px;
}
.ninetyeight{
  grid-column-start:4;
  grid-row-start: 4;
  position: relative;
  top: 390px;
  left: 636px;
  z-index: -1;
}
.ninetynine{
  grid-column-start:4;
  grid-row-start: 4;
  position: relative;
  top: -300px;
  left: 636px;
  z-index: -1;
}
.onehundred{
  grid-column-start:4;
  grid-row-start: 3;
  position: relative;
  top: 24px;
  left: 636px;
}
.onehundredone{
  grid-column-start:4;
  grid-row-start: 3;
  position: relative;
  top: -600px;
  left: 636px;
}
.onehundredtwo{
  grid-column-start:4;
  grid-row-start: 2;
  position: relative;
  top: 50px;
  left: 636px;
}
.onehundredthree{
  grid-column-start:4;
  grid-row-start: 1;
  position: relative;
  top: 390px;
  left: 636px;
}
.onehundredfour{
  grid-column-start:5;
  grid-row-start: 1;
  position: relative;
  transform: rotate(-90deg);
  top: -455px;
  left: -368px;
}
